/* line 14, ../scss/_reset.scss */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 28, ../scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 36, ../scss/_reset.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 46, ../scss/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 54, ../scss/_reset.scss */
[hidden] {
  display: none;
}

/* line 69, ../scss/_reset.scss */
a {
  display: block;
  text-decoration: none;
}
/* line 73, ../scss/_reset.scss */
a:focus, a:hover, a:active {
  outline: none;
}

/* line 98, ../scss/_reset.scss */
html {
  background: #fff;
  /* 1 */
  color: #000;
  /* 2 */
  font-family: sans-serif;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 4 */
  -webkit-text-size-adjust: 100%;
  /* 4 */
}

/* line 109, ../scss/_reset.scss */
body {
  margin: 0;
}

/* line 116, ../scss/_reset.scss */
figure {
  margin: 0;
}

/* line 125, ../scss/_reset.scss */
img {
  border: 0;
  max-width: 100%;
}

/* line 135, ../scss/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 143, ../scss/_reset.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 154, ../scss/_reset.scss */
pre {
  white-space: pre-wrap;
}

/* line 163, ../scss/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

/* line 171, ../scss/_reset.scss */
small {
  font-size: 80%;
}

/* line 178, ../scss/_reset.scss */
b,
strong {
  font-weight: bold;
}

/* line 186, ../scss/_reset.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 194, ../scss/_reset.scss */
sup {
  top: -0.5em;
}

/* line 198, ../scss/_reset.scss */
sub {
  bottom: -0.25em;
}

/* line 214, ../scss/_reset.scss */
label {
  cursor: pointer;
}

/* line 223, ../scss/_reset.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 239, ../scss/_reset.scss */
button,
input {
  line-height: normal;
}

/* line 250, ../scss/_reset.scss */
button,
select {
  text-transform: none;
}

/* line 262, ../scss/_reset.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 276, ../scss/_reset.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 285, ../scss/_reset.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 298, ../scss/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 311, ../scss/_reset.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 319, ../scss/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 329, ../scss/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 339, ../scss/_reset.scss */
input:invalid,
textarea:invalid {
  border-radius: 1px;
  -webkit-box-shadow: 0 0 5px red;
  -moz-box-shadow: 0 0 5px red;
  -ms-box-shadow: 0 0 5px red;
  -o-box-shadow: 0 0 5px red;
  box-shadow: 0 0 5px red;
}

/* line 352, ../scss/_reset.scss */
ul,
menu {
  margin: 0;
  padding: 0;
}

/* line 361, ../scss/_reset.scss */
li {
  list-style-type: none;
}

/* line 13, ../scss/_extends.scss */
.selecter, .newPost__input {
  background: transparent;
  border: 4px solid #176437;
  color: #176437;
  display: block;
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: 600;
  padding: .4em;
  text-transform: uppercase;
}
/* line 23, ../scss/_extends.scss */
.selecter:focus, .newPost__input:focus {
  outline: 0;
}

/* 
 * Selecter v3.0.17 - 2014-03-21 
 * A jQuery plugin for replacing default select elements. Part of the Formstone Library. 
 * http://formstone.it/selecter/ 
 * 
 * Copyright 2014 Ben Plum; MIT Licensed 
 */
/* line 8, ../scss/_selecter.scss */
.selecter-element {
  *left: -999999px;
  position: absolute;
  opacity: 0;
}

/* line 13, ../scss/_selecter.scss */
.selecter {
  display: block;
  position: relative;
  z-index: 1;
}

/* line 19, ../scss/_selecter.scss */
.selecter .selecter-selected {
  background: transparent url(/images/arrows.svg) no-repeat right center;
  color: #176437;
  cursor: pointer;
  display: block;
  line-height: 28px;
  padding-top: 6px;
  margin: 0;
  min-height: 32px;
  overflow: hidden;
  position: relative;
  text-overflow: clip;
  z-index: 49;
}

/* line 34, ../scss/_selecter.scss */
.selecter .selecter-options {
  border: 1px solid #176437;
  border-width: 0 1px 1px;
  background-color: #229652;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  display: none;
  left: 0;
  margin: 0;
  max-height: 260px;
  overflow: auto;
  overflow-x: hidden;
  padding: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  *width: auto;
  z-index: 50;
}

/* line 52, ../scss/_selecter.scss */
.selecter .selecter-group {
  border-bottom: 1px solid #176437;
  color: #176437;
  display: block;
  font-size: 11px;
  padding: 5px 10px 4px;
  text-transform: uppercase;
}

/* line 61, ../scss/_selecter.scss */
.selecter .selecter-item {
  border-bottom: 1px solid #176437;
  color: #176437;
  cursor: pointer;
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 8px 10px;
  text-overflow: ellipsis;
  -webkit-transition: background-color 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: background-color 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: background-color 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: background-color 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: background-color 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  width: 100%;
}
/* line 75, ../scss/_selecter.scss */
.selecter .selecter-item:focus, .selecter .selecter-item:hover {
  background-color: #249e57;
}

/* line 81, ../scss/_selecter.scss */
.selecter .selecter-item.disabled {
  color: #229652;
  cursor: default;
}

/* line 85, ../scss/_selecter.scss */
.selecter .selecter-item:first-child {
  border-radius: 0;
}

/* line 86, ../scss/_selecter.scss */
.selecter .selecter-item:last-child {
  border-radius: 0 0 2px 2px;
  border-bottom: 0;
}

@media screen and (min-width: 980px) {
  /* line 91, ../scss/_selecter.scss */
  .selecter .selecter-item:hover,
  .selecter .selecter-item.selected:hover {
    background-color: #176437;
  }

  /* line 93, ../scss/_selecter.scss */
  .selecter .selecter-item.disabled:hover {
    background-color: #229652;
  }

  /* line 94, ../scss/_selecter.scss */
  .selecter:hover .selecter-selected {
    background-color: #229652;
  }

  /* line 95, ../scss/_selecter.scss */
  .selecter.disabled .selecter-item:hover {
    background: #229652;
  }
}
/* Open */
/* line 98, ../scss/_selecter.scss */
.selecter.open {
  z-index: 3;
}

/* line 99, ../scss/_selecter.scss */
.selecter.open .selecter-selected {
  border-radius: 3px 3px 0 0;
  z-index: 51;
}

/* line 103, ../scss/_selecter.scss */
.selecter.open .selecter-selected,
.selecter.focus .selecter-selected {
  background-color: #229652;
}

/* 'Cover' Positioning */
/* line 109, ../scss/_selecter.scss */
.selecter.cover .selecter-options {
  border-radius: 3px;
  border-width: 1px;
  top: 0;
}

/* line 114, ../scss/_selecter.scss */
.selecter.cover .selecter-options .selecter-item.first {
  border-radius: 3px 3px 0 0;
}

/* line 115, ../scss/_selecter.scss */
.selecter.cover.open .selecter-selected {
  border-radius: 3px 3px 0 0;
  z-index: 49;
}

/* 'Bottom' Positioning */
/* line 120, ../scss/_selecter.scss */
.selecter.bottom .selecter-options {
  border-width: 1px 1px 0;
  bottom: 100%;
  top: auto;
}

/* line 125, ../scss/_selecter.scss */
.selecter.bottom .selecter-item:last-child {
  border: none;
}

/* line 126, ../scss/_selecter.scss */
.selecter.bottom.open .selecter-selected {
  border-radius: 0 0 3px 3px;
}

/* line 127, ../scss/_selecter.scss */
.selecter.bottom.open .selecter-options {
  border-radius: 3px 3px 0 0;
}

/* 'Bottom' + 'Cover' Positioning */
/* line 129, ../scss/_selecter.scss */
.selecter.bottom.cover .selecter-options {
  bottom: 0;
  top: auto;
}

/* line 133, ../scss/_selecter.scss */
.selecter.bottom.cover.open .selecter-selected {
  border-radius: 3px;
}

/* line 134, ../scss/_selecter.scss */
.selecter.bottom.cover.open .selecter-options {
  border-radius: 3px;
}

/* Multiple Select */
/* line 136, ../scss/_selecter.scss */
.selecter.multiple .selecter-options {
  border-radius: 3px;
  border-width: 1px;
  box-shadow: none;
  display: block;
  position: static;
  width: 100%;
}

/* 'Disabled' State */
/* line 145, ../scss/_selecter.scss */
.selecter.disabled .selecter-selected {
  background: #fff;
  border-color: #eee;
  color: #ccc;
  cursor: default;
}

/* line 151, ../scss/_selecter.scss */
.selecter.disabled .selecter-options {
  background: #fff;
  border-color: #eee;
}

/* line 155, ../scss/_selecter.scss */
.selecter.disabled .selecter-group,
.selecter.disabled .selecter-item {
  border-color: #eee;
  color: #ccc;
  cursor: default;
}

/* line 161, ../scss/_selecter.scss */
.selecter.disabled .selecter-item.selected {
  background: #fafafa;
}

/* Scroller Support */
/* line 163, ../scss/_selecter.scss */
.selecter .selecter-options.scroller {
  overflow: hidden;
}

/* line 164, ../scss/_selecter.scss */
.selecter .selecter-options.scroller .scroller-content {
  max-height: 260px;
  padding: 0;
}

/* Media Queries */
@media screen and (max-width: 740px) {
  /* line 170, ../scss/_selecter.scss */
  .selecter {
    max-width: 40%;
  }
}
@media screen and (max-width: 500px) {
  /* line 173, ../scss/_selecter.scss */
  .selecter {
    max-width: 100%;
  }
}
/* line 13, ../scss/application.scss */
html {
  background: #52cf86;
  color: #176437;
  font-family: "proxima-nova",sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 2em;
  text-transform: uppercase;
}

/* line 27, ../scss/application.scss */
.center {
  text-align: center;
}

/* line 31, ../scss/application.scss */
header {
  margin-bottom: 4em;
}

/* line 40, ../scss/application.scss */
.title {
  background-image: url("/images/title.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 0;
  overflow: hidden;
  padding-top: 10%;
  text-indent: 100%;
  white-space: nowrap;
}

/* line 53, ../scss/application.scss */
.container {
  background: #229652;
  border: 2px solid #176437;
  padding: 30px;
  margin: 0 auto;
  max-width: 540px;
}

/* line 62, ../scss/application.scss */
.newPost__group {
  margin-bottom: 1em;
}

/* line 67, ../scss/application.scss */
.newPost__group--inline {
  display: inline-block;
  width: 49%;
}
/* line 71, ../scss/application.scss */
.newPost__group--inline:first-child {
  margin-right: 1%;
}
/* line 75, ../scss/application.scss */
.newPost__group--inline .selecter {
  max-width: 100px;
}

/* line 82, ../scss/application.scss */
.newPost__label::after {
  content: ":";
}

/* line 88, ../scss/application.scss */
.newPost__input {
  height: 52px;
  width: 100%;
}

/* line 84, ../scss/_functions.scss */
.newPost__versions::after {
  clear: both;
  content: "";
  display: table;
}

/* line 98, ../scss/application.scss */
.newPost__version {
  float: left;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 25%;
}
/* line 105, ../scss/application.scss */
.newPost__version::before {
  content: "";
  display: block;
  padding-top: 120%;
}

/* line 115, ../scss/application.scss */
.newPost__version-label {
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center 20%;
  border: 2px dashed #2ab765;
  border-radius: 4px;
  font-size: 40px;
  font-size: 2.5rem;
  padding-top: 64%;
  position: absolute;
  bottom: 6px;
  left: 6px;
  right: 6px;
  top: 6px;
  text-align: center;
  -webkit-transition: all 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: all 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: all 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: all 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: all 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}
/* line 131, ../scss/application.scss */
.newPost__version-label[for=ie5] {
  background-image: url("/images/ie5.svg");
}
/* line 135, ../scss/application.scss */
.newPost__version-label[for=ie6] {
  background-image: url("/images/ie6.svg");
}
/* line 139, ../scss/application.scss */
.newPost__version-label[for=ie7] {
  background-image: url("/images/ie7.svg");
}
/* line 143, ../scss/application.scss */
.newPost__version-label[for=ie8] {
  background-image: url("/images/ie8.svg");
}
/* line 147, ../scss/application.scss */
.newPost__version-label[for=ie9] {
  background-image: url("/images/ie9.svg");
}
/* line 151, ../scss/application.scss */
.newPost__version-label[for=ie10] {
  background-image: url("/images/ie10.svg");
}
/* line 155, ../scss/application.scss */
.newPost__version-label[for=ie11] {
  background-image: url("/images/ie11.svg");
}
/* line 159, ../scss/application.scss */
.newPost__version-label[for=ieCompatability] {
  background-image: url("/images/ieCompatability.svg");
  font-size: 16px;
  font-size: 1rem;
}

/* line 166, ../scss/application.scss */
.newPost__version-checkbox {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 100%;
}
/* line 173, ../scss/application.scss */
.newPost__version-checkbox:checked + label {
  border-color: #176437;
}

/* line 181, ../scss/application.scss */
.newPost__submit {
  background-color: #52cf86;
  border: none;
  color: #176437;
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: 600;
  padding: .6em 1.4em;
  text-transform: uppercase;
}

/* line 192, ../scss/application.scss */
.newPost__skip {
  color: #176437;
  display: inline-block;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
  text-decoration: underline;
  text-transform: none;
  margin-top: 1em;
}
