/* line 14, ../scss/_reset.scss */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 28, ../scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 36, ../scss/_reset.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 46, ../scss/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 54, ../scss/_reset.scss */
[hidden] {
  display: none;
}

/* line 69, ../scss/_reset.scss */
a {
  display: block;
  text-decoration: none;
}
/* line 73, ../scss/_reset.scss */
a:focus, a:hover, a:active {
  outline: none;
}

/* line 98, ../scss/_reset.scss */
html {
  background: #fff;
  /* 1 */
  color: #000;
  /* 2 */
  font-family: sans-serif;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 4 */
  -webkit-text-size-adjust: 100%;
  /* 4 */
}

/* line 109, ../scss/_reset.scss */
body {
  margin: 0;
}

/* line 116, ../scss/_reset.scss */
figure {
  margin: 0;
}

/* line 125, ../scss/_reset.scss */
img {
  border: 0;
  max-width: 100%;
}

/* line 135, ../scss/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 143, ../scss/_reset.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 154, ../scss/_reset.scss */
pre {
  white-space: pre-wrap;
}

/* line 163, ../scss/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

/* line 171, ../scss/_reset.scss */
small {
  font-size: 80%;
}

/* line 178, ../scss/_reset.scss */
b,
strong {
  font-weight: bold;
}

/* line 186, ../scss/_reset.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 194, ../scss/_reset.scss */
sup {
  top: -0.5em;
}

/* line 198, ../scss/_reset.scss */
sub {
  bottom: -0.25em;
}

/* line 214, ../scss/_reset.scss */
label {
  cursor: pointer;
}

/* line 223, ../scss/_reset.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 239, ../scss/_reset.scss */
button,
input {
  line-height: normal;
}

/* line 250, ../scss/_reset.scss */
button,
select {
  text-transform: none;
}

/* line 262, ../scss/_reset.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 276, ../scss/_reset.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 285, ../scss/_reset.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 298, ../scss/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 311, ../scss/_reset.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 319, ../scss/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 329, ../scss/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 339, ../scss/_reset.scss */
input:invalid,
textarea:invalid {
  border-radius: 1px;
  -webkit-box-shadow: 0 0 5px red;
  -moz-box-shadow: 0 0 5px red;
  -ms-box-shadow: 0 0 5px red;
  -o-box-shadow: 0 0 5px red;
  box-shadow: 0 0 5px red;
}

/* line 352, ../scss/_reset.scss */
ul,
menu {
  margin: 0;
  padding: 0;
}

/* line 361, ../scss/_reset.scss */
li {
  list-style-type: none;
}

/* line 15, ../scss/_extends.scss */
.selecter, .newPost__input {
  background: transparent;
  border: 4px solid #176437;
  border-radius: 0;
  box-shadow: none;
  color: #176437;
  display: block;
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: 600;
  padding: .4em .4em .3em;
  text-transform: uppercase;
}
/* line 27, ../scss/_extends.scss */
.selecter:focus, .newPost__input:focus {
  outline: 0;
}

/* 
 * Selecter v3.0.17 - 2014-03-21 
 * A jQuery plugin for replacing default select elements. Part of the Formstone Library. 
 * http://formstone.it/selecter/ 
 * 
 * Copyright 2014 Ben Plum; MIT Licensed 
 */
/* line 8, ../scss/_selecter.scss */
.selecter-element {
  *left: -999999px;
  position: absolute;
  opacity: 0;
}

/* line 13, ../scss/_selecter.scss */
.selecter {
  padding-top: .3em;
  display: block;
  position: relative;
  z-index: 1;
}
/* line 20, ../scss/_selecter.scss */
.selecter.focus {
  background-color: #52cf86;
}

/* line 24, ../scss/_selecter.scss */
.selecter .selecter-selected {
  background-image: url(/images/arrows.svg);
  background-repeat: no-repeat;
  background-position: right center;
  color: #176437;
  cursor: pointer;
  display: block;
  line-height: 28px;
  padding-right: 39px;
  padding-top: 4px;
  margin: 0;
  min-height: 32px;
  overflow: hidden;
  position: relative;
  text-align: right;
  text-overflow: clip;
  z-index: 49;
}
/* line 42, ../scss/_selecter.scss */
.selecter .selecter-selected.placeholder {
  color: #1c7d44;
  font-size: 12px;
  letter-spacing: 1px;
}

/* line 52, ../scss/_selecter.scss */
.selecter-element.years + .selecter .selecter-selected {
  padding-right: 36px;
}

/* line 59, ../scss/_selecter.scss */
.selecter .selecter-options {
  border: 1px solid #176437;
  border-width: 0 1px 1px;
  background-color: #229652;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  display: none;
  left: 0;
  margin: 0;
  max-height: 260px;
  overflow: auto;
  overflow-x: hidden;
  padding: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  *width: auto;
  z-index: 50;
}

/* line 77, ../scss/_selecter.scss */
.selecter .selecter-group {
  border-bottom: 1px solid #176437;
  color: #176437;
  display: block;
  font-size: 11px;
  padding: 5px 10px 4px;
  text-transform: uppercase;
}

/* line 85, ../scss/_selecter.scss */
.selecter .selecter-item {
  border-bottom: 1px solid #176437;
  color: #176437;
  cursor: pointer;
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 8px 10px;
  text-align: center;
  text-overflow: ellipsis;
  -webkit-transition: background-color 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: background-color 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: background-color 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: background-color 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: background-color 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  width: 100%;
}
/* line 98, ../scss/_selecter.scss */
.selecter .selecter-item:focus, .selecter .selecter-item:hover {
  background-color: #52cf86;
}

/* line 104, ../scss/_selecter.scss */
.selecter .selecter-item.disabled {
  color: #229652;
  cursor: default;
}

/* line 108, ../scss/_selecter.scss */
.selecter .selecter-item:first-child {
  border-radius: 0;
}

/* line 109, ../scss/_selecter.scss */
.selecter .selecter-item:last-child {
  border-radius: 0 0 2px 2px;
  border-bottom: 0;
}

/* Open */
/* line 121, ../scss/_selecter.scss */
.selecter.open {
  z-index: 3;
}

/* line 124, ../scss/_selecter.scss */
.selecter.open .selecter-selected {
  z-index: 51;
}

/* 'Cover' Positioning */
/* line 132, ../scss/_selecter.scss */
.selecter.cover .selecter-options {
  border-radius: 3px;
  border-width: 1px;
  top: 0;
}

/* line 137, ../scss/_selecter.scss */
.selecter.cover .selecter-options .selecter-item.first {
  border-radius: 3px 3px 0 0;
}

/* line 138, ../scss/_selecter.scss */
.selecter.cover.open .selecter-selected {
  border-radius: 3px 3px 0 0;
  z-index: 49;
}

/* 'Bottom' Positioning */
/* line 143, ../scss/_selecter.scss */
.selecter.bottom .selecter-options {
  border-width: 1px 1px 0;
  bottom: 100%;
  top: auto;
}

/* line 148, ../scss/_selecter.scss */
.selecter.bottom .selecter-item:last-child {
  border: none;
}

/* line 149, ../scss/_selecter.scss */
.selecter.bottom.open .selecter-selected {
  border-radius: 0 0 3px 3px;
}

/* line 150, ../scss/_selecter.scss */
.selecter.bottom.open .selecter-options {
  border-radius: 3px 3px 0 0;
}

/* 'Bottom' + 'Cover' Positioning */
/* line 152, ../scss/_selecter.scss */
.selecter.bottom.cover .selecter-options {
  bottom: 0;
  top: auto;
}

/* line 156, ../scss/_selecter.scss */
.selecter.bottom.cover.open .selecter-selected {
  border-radius: 3px;
}

/* line 157, ../scss/_selecter.scss */
.selecter.bottom.cover.open .selecter-options {
  border-radius: 3px;
}

/* Multiple Select */
/* line 159, ../scss/_selecter.scss */
.selecter.multiple .selecter-options {
  border-radius: 3px;
  border-width: 1px;
  box-shadow: none;
  display: block;
  position: static;
  width: 100%;
}

/* 'Disabled' State */
/* line 168, ../scss/_selecter.scss */
.selecter.disabled .selecter-selected {
  background: #fff;
  border-color: #eee;
  color: #ccc;
  cursor: default;
}

/* line 174, ../scss/_selecter.scss */
.selecter.disabled .selecter-options {
  background: #fff;
  border-color: #eee;
}

/* line 178, ../scss/_selecter.scss */
.selecter.disabled .selecter-group,
.selecter.disabled .selecter-item {
  border-color: #eee;
  color: #ccc;
  cursor: default;
}

/* line 184, ../scss/_selecter.scss */
.selecter.disabled .selecter-item.selected {
  background: #fafafa;
}

/* Scroller Support */
/* line 186, ../scss/_selecter.scss */
.selecter .selecter-options.scroller {
  overflow: hidden;
}

/* line 187, ../scss/_selecter.scss */
.selecter .selecter-options.scroller .scroller-content {
  max-height: 260px;
  padding: 0;
}

/* Media Queries */
/* line 14, ../scss/application.scss */
::-webkit-input-placeholder {
  color: #1c7d44;
}

/* line 17, ../scss/application.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #1c7d44;
}

/* line 20, ../scss/application.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #1c7d44;
}

/* line 23, ../scss/application.scss */
:-ms-input-placeholder {
  color: #1c7d44;
}

/* line 27, ../scss/application.scss */
html {
  background: #52cf86;
  color: #176437;
  font-family: "proxima-nova",sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 1em;
  text-transform: uppercase;
}
@media (min-width: 430px) {
  /* line 27, ../scss/application.scss */
  html {
    padding: 2em;
  }
}

/* line 42, ../scss/application.scss */
.title {
  background-image: url("/images/title.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 0;
  overflow: hidden;
  padding-top: 10%;
  text-indent: 100%;
  white-space: nowrap;
}

/* line 55, ../scss/application.scss */
.container {
  margin: 0 auto;
  max-width: 540px;
  min-width: 300px;
  position: relative;
}

/* line 63, ../scss/application.scss */
.inner-container {
  background: #229652;
  border: 1px solid #176437;
  margin-top: 1em;
  padding: 12px;
  position: relative;
}
/* line 71, ../scss/application.scss */
.inner-container.newPost-container {
  margin-top: 5em;
}
@media (min-width: 560px) {
  /* line 63, ../scss/application.scss */
  .inner-container {
    margin-top: 2em;
    padding: 30px;
  }
}

/* line 82, ../scss/application.scss */
.cost {
  position: absolute;
  top: 0;
  background: #b4fad1;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 26px;
  opacity: .7;
  padding: 10px 0 8px;
  left: 50%;
  text-align: center;
  width: 70%;
  -moz-transform: translateX(-50%) translateY(-50px);
  -ms-transform: translateX(-50%) translateY(-50px);
  -webkit-transform: translateX(-50%) translateY(-50px);
  transform: translateX(-50%) translateY(-50px);
  -webkit-transition: all 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: all 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: all 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: all 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: all 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}
@media (min-width: 560px) {
  /* line 82, ../scss/application.scss */
  .cost {
    width: 40%;
  }
}

/* line 103, ../scss/application.scss */
.newPost__group, .newPost__group--inline {
  margin-bottom: 26px;
}

/* line 108, ../scss/application.scss */
.newPost__group--inline {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
/* line 114, ../scss/application.scss */
.newPost__group--inline .selecter {
  max-width: 130px;
}
@media (min-width: 430px) {
  /* line 108, ../scss/application.scss */
  .newPost__group--inline {
    margin-right: 1%;
    width: 48%;
  }
  /* line 122, ../scss/application.scss */
  .newPost__group--inline.rate {
    margin-right: 0;
    width: 100%;
  }
}
@media (min-width: 560px) {
  /* line 108, ../scss/application.scss */
  .newPost__group--inline {
    width: 31%;
  }
  /* line 131, ../scss/application.scss */
  .newPost__group--inline.rate {
    margin-right: 0;
    width: 31%;
  }
  /* line 136, ../scss/application.scss */
  .newPost__group--inline .selecter {
    max-width: auto;
  }
}

/* line 143, ../scss/application.scss */
.newPost__label {
  margin-bottom: 0;
}
/* line 146, ../scss/application.scss */
.newPost__label::after {
  content: ":";
}

/* line 152, ../scss/application.scss */
.newPost__input {
  height: 54px;
  width: 100%;
}

/* line 159, ../scss/application.scss */
.newPost__versions {
  margin-left: -6px;
}
/* line 84, ../scss/_functions.scss */
.newPost__versions::after {
  clear: both;
  content: "";
  display: table;
}

/* line 166, ../scss/application.scss */
.newPost__version {
  float: left;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 50%;
}
/* line 174, ../scss/application.scss */
.newPost__version::before {
  content: "";
  display: block;
  padding-top: 120%;
}
@media (min-width: 430px) {
  /* line 166, ../scss/application.scss */
  .newPost__version {
    width: 33%;
  }
}
@media (min-width: 560px) {
  /* line 166, ../scss/application.scss */
  .newPost__version {
    width: 25%;
  }
}

/* line 194, ../scss/application.scss */
.newPost__version-label {
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center 20%;
  border: 2px dashed #2ab765;
  border-radius: 4px;
  font-size: 40px;
  font-size: 2.5rem;
  padding-top: 64%;
  position: absolute;
  bottom: 6px;
  left: 6px;
  right: 6px;
  top: 6px;
  text-align: center;
  -webkit-transition: all 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: all 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: all 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: all 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: all 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}
/* line 210, ../scss/application.scss */
.newPost__version-label[for=ie5] {
  background-image: url("/images/ie5.svg");
}
/* line 214, ../scss/application.scss */
.newPost__version-label[for=ie6] {
  background-image: url("/images/ie6.svg");
}
/* line 218, ../scss/application.scss */
.newPost__version-label[for=ie7] {
  background-image: url("/images/ie7.svg");
}
/* line 222, ../scss/application.scss */
.newPost__version-label[for=ie8] {
  background-image: url("/images/ie8.svg");
}
/* line 226, ../scss/application.scss */
.newPost__version-label[for=ie9] {
  background-image: url("/images/ie9.svg");
}
/* line 230, ../scss/application.scss */
.newPost__version-label[for=ie10] {
  background-image: url("/images/ie10.svg");
}
/* line 234, ../scss/application.scss */
.newPost__version-label[for=ie11] {
  background-image: url("/images/ie11.svg");
}
/* line 238, ../scss/application.scss */
.newPost__version-label[for=ieCompatability] {
  background-image: url("/images/ieCompatability.svg");
  font-size: 14px;
  font-size: 0.875rem;
  padding-top: 70%;
  white-space: normal;
}

/* line 247, ../scss/application.scss */
.newPost__version-checkbox {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 100%;
}
/* line 254, ../scss/application.scss */
.newPost__version-checkbox:checked + label {
  border-color: #176437;
}

/* line 261, ../scss/application.scss */
.newPost__submit {
  background-color: #52cf86;
  border: none;
  color: #176437;
  font-size: 32px;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: .6em 1.8em;
  text-transform: uppercase;
  -webkit-transition: all 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: all 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: all 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: all 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: all 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}
/* line 272, ../scss/application.scss */
.newPost__submit:focus, .newPost__submit:hover {
  outline: 0;
  background-color: #82dca8;
}

/* line 283, ../scss/application.scss */
.newPost__skip {
  color: #176437;
  display: inline-block;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
  text-decoration: underline;
  text-transform: none;
  margin-top: 1em;
}

/* line 294, ../scss/application.scss */
.cta {
  margin-bottom: 0;
  margin-top: 3em;
  text-align: center;
}

/* line 320, ../scss/application.scss */
.check {
  background-color: #e4e4e4;
  border: 1px solid #176437;
  color: #222;
  font-size: 11px;
  margin-bottom: 3em;
  min-height: 115px;
  position: relative;
}
/* line 329, ../scss/application.scss */
.check:last-of-type {
  margin-bottom: 0;
}

/* line 335, ../scss/application.scss */
.check__aspectRatio {
  padding-top: 44%;
}
@media (min-width: 500px) {
  /* line 335, ../scss/application.scss */
  .check__aspectRatio {
    padding-top: 34%;
  }
}

/* line 344, ../scss/application.scss */
.check__address {
  font-size: 9px;
  font-weight: 400;
  position: absolute;
  left: 1em;
  top: 1em;
}

/* line 353, ../scss/application.scss */
.check__number {
  font-size: 16px;
  opacity: .7;
  position: absolute;
  right: 10px;
  top: 10px;
}

/* line 362, ../scss/application.scss */
.check__date {
  border-bottom: 1px solid #176437;
  font-size: 9px;
  font-weight: 400;
  position: absolute;
  right: 10px;
  top: 30px;
}
@media (min-width: 500px) {
  /* line 362, ../scss/application.scss */
  .check__date {
    right: 60px;
    top: 15px;
  }
}

/* line 377, ../scss/application.scss */
.check__name {
  border-bottom: 1px solid #176437;
  font-size: 16px;
  line-height: 1em;
  position: absolute;
  left: 10px;
  top: 64px;
  width: 40%;
}
/* line 386, ../scss/application.scss */
.check__name::before {
  content: "Pay to the Order of";
  font-size: 7px;
  height: 100%;
  line-height: 7px;
  opacity: .5;
  position: absolute;
  top: -8px;
  left: 0px;
  width: auto;
  display: inline-block;
  text-align: right;
}
@media (min-width: 500px) {
  /* line 377, ../scss/application.scss */
  .check__name {
    left: 54px;
    width: 46%;
  }
  /* line 404, ../scss/application.scss */
  .check__name::before {
    opacity: 1;
    top: 3px;
    left: -44px;
    width: 40px;
  }
}

/* line 414, ../scss/application.scss */
.check__amount {
  background-color: #cbcbcb;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 4px 6px 2px;
  position: absolute;
  right: 10px;
  top: 55px;
  width: 40%;
}
@media (min-width: 500px) {
  /* line 414, ../scss/application.scss */
  .check__amount {
    width: 26%;
  }
}

/* line 430, ../scss/application.scss */
.check__memo {
  border-bottom: 1px solid #176437;
  font-size: 7px;
  font-weight: 400;
  position: absolute;
  left: 10px;
  bottom: 10px;
  text-transform: none;
  width: 58%;
}
@media (min-width: 500px) {
  /* line 430, ../scss/application.scss */
  .check__memo {
    font-size: inherit;
  }
}

/* line 446, ../scss/application.scss */
.check__signature {
  border-bottom: 1px solid #176437;
  font-size: 8px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 30%;
}
@media (min-width: 500px) {
  /* line 446, ../scss/application.scss */
  .check__signature {
    font-size: inherit;
  }
}

/* line 461, ../scss/application.scss */
footer {
  font-size: 9px;
  letter-spacing: 1px;
  opacity: .6;
  padding-top: 2em;
  text-align: center;
  -webkit-transition: opacity 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: opacity 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: opacity 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: opacity 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: opacity 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}
/* line 469, ../scss/application.scss */
footer a {
  color: #176437;
  opacity: 1;
  text-decoration: underline;
}
