$ie : false !default;
@import 'compass/reset';
@import 'compass/support';
@import 'compass';


html {
	font-family: sans-serif;
  height: 100%;
  width: 100%;
}

header {
  height: 60px;
  line-height: 60px;
}