$ie : false !default;
@import 'reset';
@import 'functions';
@import 'compass/support';
@import 'compass';


@import 'extends';

@import 'selecter';



::-webkit-input-placeholder {
  color: $placeholderColor;
}
:-moz-placeholder { /* Firefox 18- */
  color: $placeholderColor;
}
::-moz-placeholder {  /* Firefox 19+ */
  color: $placeholderColor;
}
:-ms-input-placeholder {
  color: $placeholderColor;
}

html {
  background: $teal;
  color: $dark-green;
  font-family: "proxima-nova",sans-serif;
  @include rem('font-size',14px);
  font-weight: 600;
  padding: 2em;
  text-transform: uppercase;
}

body {

}

header {
  margin-bottom: 4em;
}

// <h1> primary site title
.title {
  background-image: url('/images/title.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 0;
  overflow: hidden;
  padding-top: 10%;
  text-indent: 100%;
  white-space: nowrap;
  opacity: 0;
}

// <div> main container
.container {
  background: $mid-green;
  border: 1px solid $dark-green;
  padding: 30px;
  margin: 0 auto;
  max-width: 540px;
}

// contains one form row
.newPost__group {
  margin-bottom: 26px;
}

// contains a half row
.newPost__group--inline {
  @extend .newPost__group;
  display: inline-block;
  margin-right: 1%;
  vertical-align: top;
  width: 31%;

  &:last-of-type {
    margin-right: 0;
  }

  .selecter {
    max-width: 110px;
  }
}

.newPost__label {
  margin-bottom: 0;

  &::after {
    content: ":";
  }
}

// <input> normal text inputs
.newPost__input {
  @extend %inputStyle;
  height: 52px;
  width: 100%;
}

.newPost__versions {
  @include clear;
  // pull it back to align the checkered border
  margin-left: -6px;
}

.newPost__version {
  float: left;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 25%;

  &::before {
    content: "";
    display: block;
    padding-top: 120%;
  }
}



$spacing: 6px;

.newPost__version-label {
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center 20%;
  border: 2px dashed lighten($dark-green, 20%);
  border-radius: 4px;
  @include rem('font-size',40px);
  padding-top: 64%;
  position: absolute;
  bottom : $spacing;
  left   : $spacing;
  right  : $spacing;
  top    : $spacing;
  text-align: center;
  @include customTransition();

  &[for=ie5] {
    background-image: url('/images/ie5.svg');
  }

  &[for=ie6] {
    background-image: url('/images/ie6.svg');
  }

  &[for=ie7] {
    background-image: url('/images/ie7.svg');
  }

  &[for=ie8] {
    background-image: url('/images/ie8.svg');
  }

  &[for=ie9] {
    background-image: url('/images/ie9.svg');
  }

  &[for=ie10] {
    background-image: url('/images/ie10.svg');
  }

  &[for=ie11] {
    background-image: url('/images/ie11.svg');
  }

  &[for=ieCompatability] {
    background-image: url('/images/ieCompatability.svg');
    @include rem('font-size',14px);
    padding-top: 70%;
    white-space: normal;
  }
}

// <input=checkbox>
.newPost__version-checkbox {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 100%;

  &:checked {
    &+label {
      border-color: $dark-green;
    }
  }
}

// <input=submit> form submit button
.newPost__submit {
  background-color: $teal;
  border: none;
  color: $dark-green;
  @include rem('font-size',32px);
  font-weight: 600;
  letter-spacing: 1px;
  padding: .6em 1.8em;
  text-transform: uppercase;
}

// <a> skip post link
.newPost__skip {
  color: $dark-green;
  display: inline-block;
  @include rem('font-size',12px);
  font-weight: 400;
  text-decoration: underline;
  text-transform: none;
  margin-top: 1em;
}


.cta {
  margin-bottom: 0;
  margin-top: 3em;
  text-align: center;
}














