<div class="cost">
  {{ newPostForm.totalCost | noFractionCurrency }}
</div>

<div class="inner-container  newPost-container">

  <form novalidate class="newPost">

    <div class="newPost__group">
      <label class="newPost__label">First Name</label>
      <input
        type="text"
        data-ng-model="newPostForm.name"
        class="newPost__input"
      />
    </div>


    <div class="newPost__group--inline">
      <label class="newPost__label">Last Initial</label>
      <select
        data-ng-model="newPostForm.lastInitial"
        id="initials"
        >
        <option
          data-ng-repeat="letter in alphabet"
          selecter-for-option-with-ng-repeat
          selecter-target="#initials"
          selecter-callback="newPostForm.setSelectedInitial"
          selecter-class="js_numbers"
          selecter-label="[select]"
        >{{ letter }}</option>
      </select>
    </div>


    <div class="newPost__group--inline">
      <label class="newPost__label">Years Suffered</label>
      <select
        class="years"
        id="ieYears"
        data-ng-model="newPostForm.years"
        >
          <option
            data-ng-repeat="year in yearsSinceRelease"
            selecter-for-option-with-ng-repeat
            selecter-target="#ieYears"
            selecter-callback="newPostForm.setSelectedYear"
            selecter-class="js_numbers"
            selecter-label="[select]"
          >
            {{ year }}
          </option>
      </select>
    </div>

    <div class="newPost__group--inline  rate">
      <label class="newPost__label">$/hour</label>
      <input
        type="tel"
        id="hourlyRate"
        data-ng-model="newPostForm.rate"
        data-ng-change="updateCost()"
        class="newPost__input"
        verify-numeric
      />
    </div>


    <div class="newPost__group">
      <p class="newPost__label">IE Versions subjected to</p>

      <ul class="newPost__versions">

        <li class="newPost__version">
          <input
            class="newPost__version-checkbox"
            id="ie5"
            type="checkbox"
            data-ng-change="updateCost()"
            data-ng-model="newPostForm.ieVersions.IE5" />

          <label class="newPost__version-label rotating-dashed" for="ie5">5</label>
        </li>

        <li class="newPost__version">
          <input
            class="newPost__version-checkbox"
            id="ie6"
            type="checkbox"
            data-ng-change="updateCost()"
            data-ng-model="newPostForm.ieVersions.IE6" />

          <label class="newPost__version-label" for="ie6">6</label>
        </li>

        <li class="newPost__version">
          <input
            class="newPost__version-checkbox"
            id="ie7"
            type="checkbox"
            data-ng-change="updateCost()"
            data-ng-model="newPostForm.ieVersions.IE7" />

          <label class="newPost__version-label" for="ie7">7</label>
        </li>

        <li class="newPost__version">
          <input
            class="newPost__version-checkbox"
            id="ie8"
            type="checkbox"
            data-ng-change="updateCost()"
            data-ng-model="newPostForm.ieVersions.IE8" />

          <label class="newPost__version-label" for="ie8">8</label>
        </li>

        <li class="newPost__version">
          <input
            class="newPost__version-checkbox"
            id="ie9"
            type="checkbox"
            data-ng-change="updateCost()"
            data-ng-model="newPostForm.ieVersions.IE9" />

          <label class="newPost__version-label" for="ie9">9</label>
        </li>

        <li class="newPost__version">
          <input
            class="newPost__version-checkbox"
            id="ie10"
            type="checkbox"
            data-ng-change="updateCost()"
            data-ng-model="newPostForm.ieVersions.IE10" />

          <label class="newPost__version-label" for="ie10">10</label>
        </li>

        <li class="newPost__version">
          <input
            class="newPost__version-checkbox"
            id="ie11"
            type="checkbox"
            data-ng-change="updateCost()"
            data-ng-model="newPostForm.ieVersions.IE11" />

          <label class="newPost__version-label" for="ie11">11</label>
        </li>

        <li class="newPost__version  compatability">
          <input
            class="newPost__version-checkbox"
            id="ieCompatability"
            type="checkbox"
            data-ng-change="updateCost()"
            data-ng-model="newPostForm.ieVersions.IECompat" />

          <label class="newPost__version-label" for="ieCompatability">Compatability Mode</label>
        </li>

      </ul>
    </div>

    <div class="newPost__group  cta">
      <button class="newPost__submit" ng-click="submit(newPostForm)">Submit</button>

      <div>
        <a class="newPost__skip" ui-sref="results">Just show me the results.</a>
      </div>
    </div>
  </form>
</div>
